body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, "sans-serif";
  background-color: #F5F5F5;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 100px; /* Added height property */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section, article {
  margin-bottom: 50px;
  margin-top: 50px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
}

body, main, section, article, ul, li, footer {
  text-align: center;
}

/* Added LinkedIn link style */
a[href*="linkedin.com"] {
  color: #0e76a8;
  text-decoration: none;
}

a[href*="linkedin.com"]:hover {
  text-decoration: underline;
}
